# 4.6 IC Combining and exporting Data - Task

## Content  

1. **Importing Libraries**
2. **Importing Data Sets**
3. **Merging the Data Frames**
4. **Exporting Data Frame**

## 1. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 2. Importing Data Sets

In [2]:
# Creating the shortcut
path = r'/home/justem/CF - Data Analyst/Achievement 4/02-2025 Instacart Basket Analysis'

In [3]:
# Importing pickle

# Importing data set orders, last version
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Checking shape
df_orders_products_combined.shape

(32434489, 10)

In [5]:
# Checking columns
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [6]:
# Importing data set products, last version
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'prods_cons_checked.csv'), index_col = 0)

In [7]:
# Checking shape
df_prods.shape

(49672, 5)

In [8]:
# Checking columns
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## 3. Merging the Data Frames

In [9]:
# Dropping merge column before merging
df_orders_products_combined = df_orders_products_combined.drop(columns=["_merge"], errors="ignore")

In [10]:
# Checking columns again
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [11]:
df_ords_prods_merge = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [12]:
# Checking df
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,0.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,0.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,0.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,0.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [14]:
# Checking for full match
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
# Checking shap
df_ords_prods_merge.shape

(32404859, 14)

## 4. Exporting Data Frame

In [15]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ordsprods_merge.pkl'))