# 4.6 IC Combining and Exporting Data - Exercise

## Content  

1. **Importing Libraries**
2. **Iporting Data Sets**
3. **Merging the Data Frames**
4. **Exporting Data Frame in Pickle Format**

## 1. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 2. Importing Data Sets

In [2]:
# Creating the shortcut
path = r'/home/justem/CF - Data Analyst/Achievement 4/02-2025 Instacart Basket Analysis'

In [5]:
# Importing data set orders, last version
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_cons_checked.csv'), index_col = 0)

In [10]:
# Checking columns of df
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [13]:
# Checking the shape
df_ords.shape

(3421083, 6)

In [8]:
# Importing data set orders
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = 0)

In [11]:
# Checking columns of df
df_ords_prior.head()

          product_id  add_to_cart_order  reordered
order_id
2              33120                  1          1
2              28985                  2          1
2               9327                  3          0
2              45918                  4          1
2              30035                  5          0

In [15]:
# Checking the shape
df_ords_prior.shape

(32434489, 3)

## 3. Merging the Data Frames

In [17]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [19]:
# Checking df
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [21]:
# Checking for full match
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [24]:
# Checking the sape
df_merged_large.shape

(32434489, 10)

## 4. Exporting Data Frame in Pickle Format

In [27]:
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))